<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body{
        text-align:center;
    }
</style>
<body style="padding:50px">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">商品流量词入口查询</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 ml-sm-5 my-lg-0" method="POST" action="{% url 'inquire:Getdata' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="id" type="text" placeholder="输入速卖通商品链接" aria-label="Search" style="width:700px">
            <button class="btn btn-outline-success mx-2 my-sm-0" type="submit">Search</button>

        </form>

    </div>
</nav>
<br>
<div role="main" class="container">
    <div class="row my-2">
        <div class="col-md-2">
            {% if results.0.price %}
            <img src="https://{{ results.0.picsrc }}" alt="" class="img-thumbnail" width="120" height="120">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-10">
                    <a href="https://www.aliexpress.com/wholesale?initiative_id=SB_20180412174003&site=glo&g=y&SearchText={{ results.0.urlid }}" title="{{ results.0.title }}" target="view_window"><p style="text-align:left">{{ results.0.title }}</p></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p style="text-align:left">目前价格: {{ results.0.price }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% if results %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>产品ID</th>
            <th>关键词</th>
            <th>出现页数</th>
            <th>出现位置</th>
            <th>更新时间</th>
        </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for keyword in results %}
            <tr>
                <td>{{ keyword.urlid }}</td>
                <td>{{ keyword.keyword }}</td>
                <td>{{ keyword.page }}</td>
                <td>{{ keyword.rank }}</td>
                <td>{{ keyword.updatatime | date:"Y-m-d" }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% if results %}
        <p class="text-muted">免费版仅显示前五页共10条排名信息</p>
        <p class="text-info">想查看更多商品关键词数据，欢迎关注微信公众号：微分析，购买我们的【店铺监控】工具</p>
    {% endif %}
    <br>
    <p class="text-warning text-center">{{ wrong_url }}</p>
    <p class="text-info text-center">{{ no_result }}</p>


</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>