<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
    <th>等待下单</th>
    <th>等待安排</th>
    <th>等待生产</th>
    <th>正在生产</th>
    <th>生产完成</th>
    <th>等待发货</th>
    <th>发货完成</th>
    </tr>
    <tr>
        <td>{{count.0}}</td>
        <td>{{count.1}}</td>
        <td>{{count.2}}</td>
        <td>{{count.3}}</td>
        <td>{{count.4}}</td>
        <td>{{count.5}}</td>
        <td>{{count.6}}</td>
    </tr>
</table>
<form action="{% url 'work_flow:add_order' %}" method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
            <th>客户</th>
            <th>下单时间</th>
            <th>交货时间</th>
            <th>订单号</th>
            <th>产品规格</th>
            <th>备注</th>
            <th>订单状态</th>
            <th>负责人</th>
            <th>操作</th>
        </tr>
        <br>
        {% for i in results %}
        <tr>
            <td>{{i.client}}</td>
            <td>{{i.order_time}}</td>
            <td>{{i.sub_time}}</td>
            <td>{{i.order_num}}</td>
            <td>{{i.order_detail}}</td>
            <td>{{i.ps}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td><input type="button" value="完成"></td>
        </tr>
        {% endfor %}
        <tr>
            <td><input type="text" name="client" id="client"></td>
            <td><input type="text" name="order_time" id="order_time"></td>
            <td><input type="text" name="sub_time" id="sub_time"></td>
            <td><input type="text" name="order_num" id="order_num"></td>
            <td><input type="text" name="order_detail" id="order_detail"></td>
            <td><input type="text" name="ps" id="ps"></td>
            <td></td>
            <td><input type="text" name="person_incharge" id="person_incharge"></td>
        </tr>

    </table>
    <input type="submit" name="submit" id="submit">

</form>
</body>
</html>